<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/35.jpg');">
        </div>

    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Want to work with us?</h2>
                    <p class="description">Your project is very important to us.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-primary" id="managerapproval">
            <div class="panel-heading">
              <h2 *ngIf="currRole === 'manager' || currRole === 'MANAGER'"
                style="text-align: center; font-family: 'Oswald', sans-serif;color: maroon; margin-top: 3%; margin-bottom: 4%;">
                Your Approval Status
                <div *ngFor="let manager of approval | async" style="margin-top: 1%;">
                  <div *ngIf="manager.status === 'accept'">
                    <h2><small style="color: maroon;">(Verified & Accepted) ID : <small
                          class="date-cover">{{manager.managerid}}</small></small></h2>
                  </div>
                  <div *ngIf="manager.status === 'false'">
                    <h2><small style="color: maroon;">(Not yet Verified)</small></h2>
                  </div>
                  <div *ngIf="manager.status === 'reject'">
                    <h2><small style="color: maroon;">(Verified & Rejected)</small></h2>
                  </div>
                </div>
              </h2>
            </div>
            <div class="panel-body">
              <table cass="table table-bordered">
                <thead class="headercolor">
                  <tr>
                    <th></th>
                    <th>Idendity</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Adresse</th>
                    <th>mobile</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let manager of approval | async">
                  
                    <td>{{manager.managerid}}</td>
                    <td>{{manager.managername}}</td>
                    <td>{{manager.email}}</td>
                    <td>{{manager.adresse}}</td>
                    <td>{{manager.mobile}} </td>
          
                    <td>
                      <div *ngIf="currRole === 'manager' || currRole === 'MANAGER' && manager.email === loggedUser">
                        <div *ngIf="manager.status === 'accept'" class="accepted">Accepted</div>
                        <div *ngIf="manager.status === 'false'" class="pending">Pending</div>
                        <div *ngIf="manager.status === 'reject'" class="rejected">Rejected</div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <br><br><br><br>

    </div>



    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed And
                <a target="_blank"></a>. Coded by
                <a href="https://www.linkedin.com/in/eya-armaoui/" target="_blank">Armaoui Eya</a>.
            </div>
        </div>
    </footer>
</div>



  