<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/35.jpg');">
        </div>
        <div class="container">
            <div class="content-center">

                <h3 class="title">VERMEG for Banking & Insurance Software</h3>

                <div class="content">

                    <div class="social-description">
                        <h2 class=" card-title" *ngFor="let total of total | async">{{total}}</h2>
                        <p>Total DataBases</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a href="https://www.vermeg.com" class="btn btn-primary btn-round btn-lg" title="web site">
                    <i class="now-ui-icons objects_globe"></i>
                </a>
                <a href="https://twitter.com/vermeg" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
                    title="Follow me on Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.facebook.com/Vermeg" class="btn btn-default btn-round btn-lg btn-icon"
                    rel="tooltip" title="Follow me on Instagram">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </div>
            <div class="section section-about-us">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h2 class="title">Want to work with us?</h2>
                            <p class="description">Your project is very important to us.</p>
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <a [routerLink]="['/examples/database']" class="btn btn-primary btn-round btn-white btn-lg">Add New
                        DataBase</a>
                </div>
                <div class="card">
                    <div *ngIf="datas">
                        <div *ngFor="let data of datas | async" class="col-4 card" id="bloodCards">
                            <br><br>
                            <div id="images">
                                <div class="col-sm-4">
                                    <img src="assets/img/9.jpg" alt="Thumbnail Image" class="rounded-circle img-raised">

                                    <!--<qr-code [value]=data.url [size]="100"></qr-code>-->
                                </div>
                            </div>
                            <br><br>
                            <div class="card-block">
                                <br>
                                <div>url: {{data.url}} </div>
                                <div>username: {{data.username}} </div>
                                <div>password: {{data.password}} </div>
                                <br><br>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <a href="examples/guide" class="link">Need Help About Traitement ?</a>
                    <br><br><br><br>
                </div>
            </div>

        </div>
    </div>

    <div class="section section-download" id="#download-section" data-background-color="black">
        <div class="container">
            <br>
            <div class="row text-center mt-5">
                <div class="col-md-8 ml-auto mr-auto">
                    <h5 class="description">For 20 years, we have evolved with our Clients and the Market, as a
                        solution and service integrator. Now VERMEG is a key Partner for business and digital
                        transformation in insurance and finance.
                    </h5>
                    <h4>Contact us on : communications@vermeg.com</h4>
                </div>

            </div>
            <ng-template #classic let-c="close" let-d="dismiss">
                <div class="modal-header justify-content-center">
                    <button type="button" class="close" (click)="d('Cross click')">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                    <h4 class="title title-up">Chat</h4>
                </div>
                <div class="modal-body">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
                    </p>
                </div>

            </ng-template>
            <footer class="footer" data-background-color="black">
                <div class="container">
                    <div class="copyright">
                        &copy;
                        {{data | date: 'yyyy'}}, Designed
                        <a target="_blank"></a>And Coded by
                        <a href="https://www.linkedin.com/in/eya-armaoui/" target="_blank">Armaoui Eya</a>.
                    </div>
                </div>
            </footer>
        </div>

    </div>

</div>