<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/35.jpg');">
        </div>

    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Want to work with us?</h2>
                    <p class="description">Your project is very important to us.</p>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div *ngFor="let manager of managerlist | async" class="col-4 card" id="bloodCards">
              
                <div class="card-block">
                    <div class="text"><b style="color:  rgb(96, 0, 0)">manager ID : </b><b style="color: rgb(119, 75, 75);"><small
                                class="date-cover">{{manager.managerid}}</small></b></div>
                    <div class="text"><b style="color: rgb(96, 0, 0)">manager Name : </b><b style="color:rgb(119, 75, 75);">
                            {{manager.managername}} </b></div>
                    <div class="text"><b style="color:  rgb(96, 0, 0)">Email : </b><b style="color:rgb(119, 75, 75);"> {{manager.email}} </b>
                    </div>
                    <div class="text"><b style="color:  rgb(96, 0, 0)">adresse : </b><b style="color: rgb(119, 75, 75);"> {{manager.adresse}}
                        </b></div>
                    <div class="text"><b style="color:  rgb(96, 0, 0)">Gender : </b><b style="color: rgb(119, 75, 75);"> {{manager.gender}}
                        </b></div>
                    <div class="text"><b style="color:  rgb(96, 0, 0)">Mobile : </b><b style="color: rgb(119, 75, 75);"> {{manager.mobile}}
                        </b></div>
                    <div *ngIf="manager.status === 'accept'">
                        <div class="status-btn">Approved manager</div>
                    </div>
                    <div *ngIf="manager.status === 'reject'">
                        <div class="status-btn2">Rejected</div>
                    </div>
                    <div *ngIf="manager.status === 'false'">
                        <div class="status-btn1">Approval Pending</div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed And
                <a target="_blank"></a>. Coded by
                <a href="https://www.linkedin.com/in/eya-armaoui/" target="_blank">Armaoui Eya</a>.
            </div>
        </div>
    </footer>
</div>



  
