<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/35.jpg');">
        </div>

    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Want to work with us?</h2>
                    <p class="description">Your project is very important to us.</p>
                </div>
            </div>
        </div>
        <div class="container register">


            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="profile" role="tabpanel"
                            aria-labelledby="profile-tab">
                            <h3 class="register-heading"><i class="fa fa-user-o"></i> Add New Database</h3>

                            <form #dataform="ngForm" (ngSubmit)="addNewDatabase()">
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <label>url : <b style="color:red;">*</b></label>
                                        <input type="text" class="form-control" placeholder="enter url" name="url"
                                            [(ngModel)]="DataObj.url" required #url="ngModel"
                                            [class.is-invalid]="url.invalid && url.touched">
                                        <small class="text-danger"
                                            [class.d-none]="url.valid || url.untouched"><b>required
                                                field</b></small>

                                    </div>

                                    <div class="col-md-6">
                                        <label>username : <b style="color:red;">*</b></label>
                                        <input type="text" class="form-control" placeholder="enter username"
                                            name="username" [(ngModel)]="DataObj.username" required #username="ngModel"
                                            [class.is-invalid]="username.invalid && username.touched">
                                        <small class="text-danger"
                                            [class.d-none]="username.valid || username.untouched"><b>required
                                                field</b></small>

                                    </div>

                                    <div class="col-md-6">
                                        <label>password : <b style="color:red;">*</b></label>
                                        <input type="text" class="form-control" placeholder="enter password"
                                            name="password" [(ngModel)]="DataObj.password" required #password="ngModel"
                                            [class.is-invalid]="password.invalid && password.touched">
                                        <small class="text-danger"
                                            [class.d-none]="password.valid || password.untouched"><b>required
                                                field</b></small>

                                    </div>
                                </div>
                                <br><br>
                                <button [disabled]="dataform.form.invalid" type="submit"
                                    class="btn btn-primary btn-round btn-white btn-lg"><i class="fa fa-plus"></i>
                                    Add</button>
                            </form>
                        </div>
                    </div>
                    <input type="file" (change)="onFileSelected($event)">
                    <button (click)="onUpload()">Upload</button>
                    
                    <div *ngIf="uploadProgress > 0">
                      <p>Upload Progress: {{ uploadProgress }}%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed And
                <a target="_blank"></a>. Coded by
                <a href="https://www.linkedin.com/in/eya-armaoui/" target="_blank">Armaoui Eya</a>.
            </div>
        </div>
    </footer>
</div>