<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/35.jpg');">
        </div>

    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title">This is our great company.</h1>
                    <h2 class="title">Who we are?</h2>
                    <p>Vermeg is a software and technology solutions provider for the insurance,
                        banking, and financial industries. The company was founded in Tunisia in 2001 and has since
                        expanded its operations to several countries, including France, Luxembourg, and the United
                        Kingdom.</p>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/ss.jpg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">"How can you initiate a process of change in your
                                company?
                                in a way that's both fast and controlled
                                where fast execution and excellence are no longer just a challenge
                                but a requirement..."
                                <br>
                                <br>

                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/31.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/s.jpg')">
                        </div>
                        <h3>VERMEG!</h3>
                        <p>This is what we have been offering our customers every day for over 25 years
                            technological excellence through software solutions to accelerate and control your digital
                            transformation...
                        </p>
                        <p>
                            We are a leading technology provider to the banking and insurance sector
                            every day thanks to our solutions we support you to meet the challenges of your digital
                            transformation for more connectivity agility and security
                            today Vermeg's integrated plateform allows you to adapt to increasingly complex and evolving
                            challenges.
                        </p>
                        <p>
                            Through the client experience oriented and innovative solutions centred on data in
                            accordance with current regulations and through development tools to accelerate the
                            implementation of high added value projects
                            we are more than 1600 collaborators driven by the same passion and the same vision
                        </p>
                        <br>
                        <h3>Software leaders in finance to accelerate your digital transformation...</h3>
                        <a href="examples/informations"  target="_blank">More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="section section-team text-center ">
        <div class="container">
            <h2 class="title">Here is our team</h2>
            <br>
            <div class="team">
                <div class="row">
                    <div class="text-center col-md-7">
                        <div class="team-player">
                            <img src="assets/img/eya.jpg" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">EYA ARMAOUI</h4>
                            <p class="category text-primary">Full stack developer INTERN</p>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-google-plus"></i></a>
                            <a href="https://www.linkedin.com/in/eya-armaoui/"
                                class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/333.jpg" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">WAEL DHAOUI</h4>
                            <p class="category text-primary">Senior Lead Architect PRODUCT</p>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-google-plus"></i></a>
                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i
                                    class="fab fa-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed And
                <a target="_blank"></a>. Coded by
                <a href="https://www.linkedin.com/in/eya-armaoui/" target="_blank">Armaoui Eya</a>.
            </div>
        </div>
    </footer>
</div>