<app-header></app-header>

<div class="container register">
    <div class="row">
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3 class="register-heading"><i class="fa fa-user-o"></i> Add New Company</h3>
                    <small class="text-danger"><b>{{msg}}</b></small>
                    <form #companyform="ngForm" (ngSubmit)="addNewCompany()">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <label>name : <b style="color:red;">*</b></label>
                                <input type="text" class="form-control" placeholder="enter name" name="name"
                                    [(ngModel)]="CompanyObj.name" required #name="ngModel"
                                    [class.is-invalid]="name.invalid && name.touched">
                                <small class="text-danger" [class.d-none]="name.valid || name.untouched"><b>required
                                        field</b></small>

                            </div>

                            <div class="col-md-6">
                                <label>adresse : <b style="color:red;">*</b></label>
                                <input type="text" class="form-control" placeholder="enter adresse" name="adresse"
                                    [(ngModel)]="CompanyObj.adresse" required #adresse="ngModel"
                                    [class.is-invalid]="adresse.invalid && adresse.touched">
                                <small class="text-danger" [class.d-none]="adresse.valid || adresse.untouched"><b>required
                                        field</b></small>

                            </div>

                            <div class="col-md-6">
                                <label>mobile : <b style="color:red;">*</b></label>
                                <input type="text" class="form-control" placeholder="enter mobile" name="mobile"
                                    [(ngModel)]="CompanyObj.mobile" required #mobile="ngModel"
                                    [class.is-invalid]="mobile.invalid && mobile.touched">
                                <small class="text-danger" [class.d-none]="mobile.valid || mobile.untouched"><b>required
                                        field</b></small>

                            </div>

                            <div class="col-md-6">
                                <label>fax : <b style="color:red;">*</b></label>
                                <input type="text" class="form-control" placeholder="enter fax" name="fax"
                                    [(ngModel)]="CompanyObj.fax" required #fax="ngModel"
                                    [class.is-invalid]="fax.invalid && fax.touched">
                                <small class="text-danger" [class.d-none]="fax.valid || fax.untouched"><b>required
                                        field</b></small>

                            </div>

                            <div class="col-md-6">
                                <label>email : <b style="color:red;">*</b></label>
                                <input type="text" class="form-control" placeholder="enter email" name="email"
                                    [(ngModel)]="CompanyObj.email" required #email="ngModel"
                                    [class.is-invalid]="email.invalid && email.touched">
                                <small class="text-danger" [class.d-none]="email.valid || email.untouched"><b>required
                                        field</b></small>

                            </div>

                            <div class="col-md-6">
                                <label>type : <b style="color:red;">*</b></label>
                                <select class="form-control" id="sel1" placeholder="please mention type" name="type" [(ngModel)]="CompanyObj.type" required
                                #type="ngModel">
                                    <option>Banking</option>
                                    <option>Insurance</option>
                                    <option>Capital Markets</option>
                                </select>
                            </div>

                           
                        </div>

                        <button [disabled]="companyform.form.invalid" type="submit" class="btnRegister"><i
                                class="fa fa-plus"></i> Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="text" style=" text-align: center; margin-top: 10px;"><b style="color: rgb(27, 25, 25);">Companys List</b>
</div>

<div class="row">
    <div *ngFor="let company of companys | async" class="col-4 card" id="bloodCards">
        <div class="img-block">
            <img [src]="'assets/img/b.gif'" style="margin-left: 35%;" width="150" height="150"><br>
        </div>
        <div class="card-block">
            <div class="text"><b style="color: maroon;">name: {{company.name}} </b></div>
            <div class="text"><b style="color: darkblue;">adresse: {{company.adresse}} </b></div>
            <div class="text"><b style="color: maroon;">mobile: {{company.mobile}} </b></div>
            <div class="text"><b style="color: maroon;">fax: {{company.fax}} </b></div>
            <div class="text"><b style="color: maroon;">email: {{company.email}} </b></div>
            <div class="text"><b style="color: maroon;">type: {{company.type}} </b></div>
        </div>
    </div>
</div>

<br><br><br>
<app-footer></app-footer>