<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/c.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/v.jpg" alt="">
                </div>
                <h3 class="title">VERMEG for Banking & Insurance Software</h3>

                <div class="content">
                    <div class="social-description">
                        <h2>1993</h2>
                        <p>Company creation</p>
                    </div>
                    <div class="social-description">
                        <h2>1600</h2>
                        <p>Employees</p>
                    </div>
                    <div class="social-description">
                        <h2>40</h2>
                        <p>Covered Countries</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a href="https://www.vermeg.com" class="btn btn-primary btn-round btn-lg" title="web site">
                    <i class="now-ui-icons objects_globe"></i>
                </a>
                <a href="https://twitter.com/vermeg" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip"
                    title="Follow me on Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.facebook.com/Vermeg" class="btn btn-default btn-round btn-lg btn-icon"
                    rel="tooltip" title="Follow me on Instagram">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </div>
            <h3 class="title">Software Excellence for Leaders in finance</h3>
            <h5 class="description">With more than 550 clients in 40 countries, and more than 1600 employees, VERMEG is
                the European leader in insurance management solutions and a global leading finance software provider.
            </h5>
            <div class="row">
                <div class="col-md-12">

                    <ngb-tabset [justify]="'center'" type="pills"
                        class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons design_image"></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">

                                            <div class="col-md-6">
                                                <img src="assets/img/2b.jpg" class="img-raised">

                                            </div>
                                            <div class="col-md-6">
                                                <h4 class="title">Our industry professionals and partners rely on mutual
                                                    trust.</h4>
                                                <h5>The long-term vision of our founding partners and shareholders
                                                    allows us to work in partnership, delivering innovation with
                                                    stability and cost efficiency.
                                                    <br><br>
                                                    Value creation is key.
                                                    <br><br>
                                                    Trust matters in our business, we are committed to partnership and
                                                    to full transparency.
                                                    <br><br>
                                                    Cultural and gender-diversity, equal employment opportunities, along
                                                    with the well-being of our employees are part of VERMEG’s DNA.
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons location_world"></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-6">
                                                <img src="assets/img/3b.jpg" class="img-raised">

                                            </div>
                                            <div class="col-md-6">
                                                <h4 class="title">VERMEG has expanded both organically and via strategic
                                                    acquisitions over the years.</h4>
                                                <h5>In 2018, VERMEG acquired Lombard Risk, an international provider of
                                                    software solutions for risk management, regulatory reporting and
                                                    collateral management.
                                                    <br><br>
                                                    In 2014, VERMEG acquired the Belgium-based firm BSB, which
                                                    specialized in financial software for insurance and private banking.
                                                    <br><br>
                                                    In 2011, VERMEG acquired the regulatory reporting business of
                                                    Sofgen. The main part of the business acquired was known in the US
                                                    regulatory market as IDOM USA.
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <i class="now-ui-icons sport_user-run"></i>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-6">
                                                <img src="assets/img/1b.jpg" class="img-raised">

                                            </div>
                                            <div class="col-md-6">
                                                <h5>In addition to offering standard software solutions that meet
                                                    evolving digitized needs, VERMEG provides tailor made solutions
                                                    based on our own tools, experience and business expertise. Our
                                                    strategy, providing effective and evolving digital solutions, is
                                                    executed with multicultural, social and environmental considerations
                                                    and a focus on talent development.
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>