<div class="content">

  <div class="header" id="header">
    <div class="nav">
      <label></label>
      <div class="switchs">
        <button style="font-weight: bold;" class="log" id="log" [routerLink]="['/login']"><i class="fa fa-sign-in"></i>
          LOGIN</button>
        <!--<button style="font-weight: bold;" class="log" id="log" [routerLink]="['/registration']"><i
            class="fa fa-user-plus"></i>
          REGISTER</button>-->
      </div>
    </div>
    <div class="main">
      <img class="floating" id="img3" [src]="'assets/img/a.png'"
        [ngStyle]="{ 'max-width': '300px', 'max-height': '250px'}">
      <br>
    </div>
    <h5 class="text-center p-3" style="font-weight: bolder; color: white;">The search for faults is the path to
      continuous improvement ...</h5>
  </div>
  <br>
</div>
<br><br>


<section id="about" class="about about-bg">
  <marquee class="marquee" direction="left">VERMEG...Software leaders in finance to accelerate your digital
    transformation...
  </marquee>
  <div class="about-container">
    <div class="subtext1" id="subtext1"><span class="counter">01</span> &nbsp;Who we are?<i id="subtext1"></i></div>
    <div class="innertext1" id="innertext1">Vermeg is a software and technology solutions provider for the insurance,
      banking, and financial industries. The company was founded in Tunisia in 2001 and has since
      expanded its operations to several countries, including France, Luxembourg, and the United
      Kingdom.</div>
  </div>
  <div class="about-container">
    <div class="subtext1" id="subtext2"><span class="counter">02</span> &nbsp;How can you initiate a process of change
      in your
      company?<i id="subtext2"></i></div>
    <div class="innertext1" id="innertext2">in a way that's both fast and controlled
      where fast execution and excellence are no longer just a challenge
      but a requirement...</div>
  </div>
  <div class="about-container">
    <div class="subtext1" id="subtext3"><span class="counter">03</span> &nbsp;More...<i id="subtext3"></i></div>
    <div class="innertext1" id="innertext3">
      <p>This is what we have been offering our customers every day for over 25 years
        technological excellence through software solutions to accelerate and control your digital
        transformation...
      </p>
      <p>
        We are a leading technology provider to the banking and insurance sector
        every day thanks to our solutions we support you to meet the challenges of your digital
        transformation for more connectivity agility and security
        today Vermeg's integrated plateform allows you to adapt to increasingly complex and evolving
        challenges.
      </p>
      <p>
        Through the client experience oriented and innovative solutions centred on data in
        accordance with current regulations and through development tools to accelerate the
        implementation of high added value projects
        we are more than 1600 collaborators driven by the same passion and the same vision
      </p>
    </div>
  </div>
  <br>


 

 

  <br><br>

</section>

<app-footer></app-footer>