
<footer id="footer" class="bg-light text-center">
    <div id="footercontent" class="text-center p-3" style="background-color: maroon; font-weight: bolder; color: white;">
      © 2021 Copyright:
      <b style="color: white; font-weight: bolder;" class="text-light">Eya Armaoui</b>
      <br><br>
      <section class="mb-4">
        <a class="btn btn-primary btn-floating m-1" style="background-color: rgb(35, 1, 1); border: none;" role="button"><i class="fa fa-facebook-f"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: rgb(35, 1, 1); border: none;" role="button"><i class="fa fa-twitter"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: rgb(35, 1, 1); border: none;" role="button"><i class="fa fa-google"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: rgb(35, 1, 1); border: none;" role="button"><i class="fa fa-linkedin"></i></a>
        <a class="btn btn-primary btn-floating m-1" style="background-color: rgb(35, 1, 1); border: none;" role="button"><i class="fa fa-youtube-play"></i></a>
      </section>
    </div>  
</footer>